<nav class="navbar navbar-expand-lg navbar-light mt-3">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img src="../../../../assets/images/logo.svg" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Feature
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">
                <img src="../../../../assets/images/icon-todo.svg" alt="" />
                Todo List</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <img src="../../../../assets/images/icon-calendar.svg" alt="" />
                Calendar
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <img
                  src="../../../../assets/images/icon-reminders.svg"
                  alt=""
                />
                Reminders
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <img
                  src="../../../../assets/images/icon-planning.svg\"
                  alt=""
                />
                Planning</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Company
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">History</a></li>
            <li><a class="dropdown-item" href="#">Our Team</a></li>
            <li><a class="dropdown-item" href="#">Blog</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">About</a>
        </li>
      </ul>
      <form class="d-flex justify-content-space-between">
        <button class="btn login_btn">Login</button>
        <button class="btn reg_btn">Register</button>
      </form>
    </div>
  </div>
</nav>
