.navbar-nav .nav-item {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn {
  color: hsl(0, 0%, 41%);
  margin: 0 10px;
}
.navbar-brand {
  padding-right: 3rem;
}
.navbar-nav .nav-item:hover {
  color: hsl(0, 0%, 8%);
}
.login_btn {
  margin-right: 30px;
}
.btn:hover {
  border: 1px solid hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
  border-radius: 15px;
  padding: 5px 25px;
  font-size: 15px;
  text-align: center;
}
.reg_btn {
  border: 1px solid hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
  border-radius: 13px;
  padding: 5px 25px;
  font-size: 15px;
  text-align: center;
}
.dropdown-menu {
  border-radius: 7px;
  -webkit-box-shadow: -3px 6px 36px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: -3px 6px 36px 0px rgba(0, 0, 0, 0.12);
  box-shadow: -3px 6px 36px 0px rgba(0, 0, 0, 0.12);
}
