<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-last">
        <div class="side_hero_img">
          <img src="../../../assets/images/image-hero-desktop.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="hero_section">
          <div class="inner_hero">
            <h1>
              Make <br />
              remote work
            </h1>
          </div>
          <div class="inner_hero_desc">
            <p>
              Get your team in sync, no matter your location <br />
              Streamline processes, create team rituals, and <br />
              watch productivity soar
            </p>
          </div>
          <div class="hero_btn">
            <button class="btn">Learn more</button>
          </div>
          <div class="partner mt-5">
            <span
              ><img src="../../../assets/images/client-audiophile.svg" alt=""
            /></span>
            <span
              ><img src="../../../assets/images/client-databiz.svg" alt=""
            /></span>
            <span
              ><img src="../../../assets/images/client-maker.svg" alt=""
            /></span>
            <span
              ><img src="../../../assets/images/client-meet.svg" alt=""
            /></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
